---
Checks: >
    *,
    -abseil-string-find-str-contains,
    -altera-id-dependent-backward-branch,
    -altera-struct-pack-align,
    -altera-unroll-loops,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -cert-err33-c,
    -cert-err58-cpp,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-prefer-member-initializer,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -fuchsia-default-arguments-declarations,
    -fuchsia-default-arguments-calls,
    -fuchsia-overloaded-operator,
    -google-readability-casting,
    -hicpp-avoid-c-arrays,
    -hicpp-no-array-decay,
    -hicpp-vararg,
    -hicpp-use-auto,
    -llvm-include-order,
    -llvm-else-after-return,
    -llvmlibc-callee-namespace,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -modernize-avoid-c-arrays,
    -modernize-use-auto,
    -modernize-use-default-member-init,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -modernize-loop-convert,
    -readability-else-after-return,
    -readability-identifier-length,
    -readability-isolate-declaration,
    -readability-function-cognitive-complexity,
    -readability-magic-numbers,
    -readability-non-const-parameter,
    -readability-redundant-declaration,
    -readability-suspicious-call-argument

WarningsAsErrors: '*'
